<div class=" container-fluid d-flex flex-column justify-content-center align-items-center vh-100 bg-primary">
  <form class="border p-5 shadow-lg bg-white rounded-4" (click)="onLogin($event)">
    <h1 class="text-center">Login</h1>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password">
    </div>
    <a href="#" class="d-block text-center mb-3">Esquecinha minha senha</a>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>
</div>
