<div class=" container-fluid d-flex flex-column justify-content-center align-items-center vh-100 bg-primary">
  <form class="border p-5 shadow-lg bg-white rounded-4" (submit)="onLogin($event)">
    <h1 class="text-center">Login</h1>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Insira seu e-mail">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" placeholder="Insira sua senha">
    </div>
    <ng-container *ngIf="error">
      <div class="alert alert-danger text-center" style="font-size: 12px;" role="alert">
        {{error}}
      </div>
    </ng-container>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>
</div>
