<navbar></navbar>
<div class=" container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
  <form class="border p-5 shadow-lg bg-white rounded-4">
    <h1 class="text-center">Cadastrar Escola</h1>
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="name" class="form-control" id="name" name="name" [(ngModel)]="name">
    </div>
    <div class="mb-3">
      <label for="local" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="local" name="local" [(ngModel)]="local">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="tel" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="tel" name="tel" [(ngModel)]="tel">
    </div>
    <div class="d-flex gap-5">
      <button class="btn btn-success w-100" (click)="onSave()">Salvar</button>
      <button class="btn btn-danger w-100" (click)="onBack()">Voltar</button>
    </div>
  </form>
</div>
